{% load i18n %} {% autoescape off %}
{% blocktrans %}
You are receiving this email because you requested a password reset for user account at {{site.name}}
{% endblocktrans %}
{% trans "Please visit the link below and choose a new password" %}
{% block reset_link %}
{{protocol}}:{{domain}} {% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock  %}
{% trans "Your username, in case you have forgotten: " %}
{{user.get_username}}
{% trans "Thanks for using the site" %}
{% blocktrans %}The {{site.name}} team {% endblocktrans %}

{% endautoescape %}